body {
  margin: 0;
  padding: 0;
  font-family: Muli,BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto",sans-serif;
  background-color: white;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #02042b;
  margin: 0;
  padding: 8px 165px;
}

body header .flexx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .flexx a {
  color: rgba(255, 255, 255, 0.7);
  padding: 17px;
}

body header .logo_white {
  width: 135px;
}

body main .figure1img {
  position: absolute;
  width: 810px;
  z-index: 1;
  right: 200px;
}

@media screen and (max-width: 1024px) {
  body main .figure1img {
    top: 500px;
    right: 150px;
  }
}

body main .figure1 {
  height: 605px;
  background-color: #02042b;
  padding: 0px 0px 0 170px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 88% 100%, 0 84%);
          clip-path: polygon(0 0, 100% 0, 100% 91%, 88% 100%, 0 84%);
}

@media screen and (max-width: 1024px) {
  body main .figure1 {
    height: 1200px;
  }
}

body main .figure1 form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .figure1 form input {
  padding: 17px 0 17px 14px;
  width: 221px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #2783f3;
  background-color: #02042b;
}

body main .figure1 form button {
  padding: 17px 45px 17px 10px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #2783f3;
  background-color: #2783f3;
  color: white;
}

body main .figure1 .figure1txt h1 {
  color: #fff;
  font-size: 40px;
  line-height: 53px;
  font-weight: 800;
  max-width: 450px;
  margin-top: 0;
  padding-top: 50px;
}

body main .figure1 .figure1txt h1::after {
  width: 24px;
  height: 4px;
  content: '';
  background-color: #58c19c;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

body main .figure1 .figure1txt p {
  color: rgba(255, 255, 255, 0.7);
  max-width: 430px;
  font-size: 18px;
  line-height: 28px;
}

body main .sec2 h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .sec2 h1::after {
  width: 24px;
  height: 4px;
  content: ' ';
  background-color: #58c19c;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

body main .sec2 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 202px;
}

@media screen and (max-width: 1024px) {
  body main .sec2 .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
  }
}

body main .sec2 .box div {
  margin: 0 16px;
  width: 653px;
  height: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 24px;
  border-radius: 8px;
  color: white;
}

@media screen and (max-width: 1024px) {
  body main .sec2 .box div {
    width: 290px;
    margin: 20px;
  }
}

body main .sec2 .box div p {
  color: rgba(255, 255, 255, 0.7);
}

body main .sec2 .box div a {
  color: white;
}

body main .sec2 .box div img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body main .sec2 .box .box1 {
  background: url("/Razor Pay/icons/second_first_dark.svg") no-repeat right top;
  background-color: #02042b;
}

body main .sec2 .box .box1:hover {
  background: url("/Razor Pay/icons/second_first.svg") no-repeat right top;
  background-color: #02042b;
}

body main .sec2 .box .box2 {
  background: url("/Razor Pay/icons/second_second.svg") no-repeat right top;
  background-color: #02042b;
}

body main .sec2 .box .box2:hover {
  background: url("/Razor Pay/icons/second_second_dark.svg") no-repeat right top;
  background-color: #02042b;
}

body main .sec2 .box .box3 {
  background: url("/Razor Pay/icons/second_third.svg") no-repeat right top;
  background-color: #02042b;
}

body main .sec2 .box .box3:hover {
  background: url("/Razor Pay/icons/second_third-dark-bg.svg") no-repeat right top;
  background-color: #02042b;
}

body main .sec3_back {
  -webkit-clip-path: polygon(0 0, 97% 49%, 0 100%);
          clip-path: polygon(0 0, 97% 49%, 0 100%);
  background: linear-gradient(138.77deg, #0a1157 21.17%, #0a1157 21.18%, #1d51a8 94.74%);
  height: 687px;
  width: 60%;
  position: absolute;
  z-index: -1;
}

body main .sec3_back2 {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 51%);
          clip-path: polygon(100% 0, 100% 100%, 0 51%);
  background: linear-gradient(138.77deg, #0a1157 21.17%, #0a1157 21.18%, #1d51a8 94.74%);
  height: 387px;
  width: 18%;
  right: 0px;
  top: 1900px;
  position: absolute;
  z-index: -1;
}

body main .sec3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.33%)[3];
      grid-template-columns: repeat(3, 33.33%);
  place-items: center;
  margin: 0 160px;
  margin-top: 175px;
}

@media screen and (max-width: 1024px) {
  body main .sec3 {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
  }
}

body main .sec3 div {
  width: 323px;
  height: 290px;
  margin: 20px 10px;
  border-radius: 8px;
}

body main .sec3 div:nth-child(1) {
  padding: 50px;
}

body main .sec3 div h1 {
  font-size: 37px;
  color: white;
}

@media screen and (max-width: 1024px) {
  body main .sec3 div {
    width: 454px;
    height: 200px;
  }
}

body main .sec3 .sec31 {
  background: url("/Razor Pay/icons/sec31.svg") no-repeat;
  background-color: white;
}

body main .sec3 .sec31:hover {
  background: url("/Razor Pay/icons/sec31_hovor.svg") no-repeat;
  background-color: white;
}

body main .sec3 .sec32 {
  background: url("/Razor Pay/icons/sec32.svg") no-repeat;
  background-color: white;
}

body main .sec3 .sec32:hover {
  background: url("/Razor Pay/icons/sec32_hover.svg") no-repeat;
  background-color: white;
}

body main .sec3 .sec33 {
  background: url("/Razor Pay/icons/sec33.svg") no-repeat;
  background-color: white;
}

body main .sec3 .sec33:hover {
  background: url("/Razor Pay/icons/sec33_hover.svg") no-repeat;
  background-color: white;
}

body main .sec3 .sec34 {
  background: url("/Razor Pay/icons/sec34.svg") no-repeat;
  background-color: white;
}

body main .sec3 .sec34:hover {
  background: url("/Razor Pay/icons/sec34_hover.svg") no-repeat;
  background-color: white;
}

body main .sec3 .sec35 {
  background: url("/Razor Pay/icons/sec35.svg") no-repeat;
  background-color: white;
}

body main .sec3 .sec35:hover {
  background: url("/Razor Pay/icons/sec35_hever.svg") no-repeat;
  background-color: white;
}

body main .sect4 h1, body main .sect4 p {
  text-align: center;
}

body main .sec4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.33%)[3];
      grid-template-columns: repeat(3, 33.33%);
  place-items: center;
  margin: 0 160px;
}

@media screen and (max-width: 1024px) {
  body main .sec4 {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
  }
}

body main .sec4 div {
  background-color: yellow;
  width: 323px;
  height: 290px;
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  text-align: center;
  border-radius: 8px;
}

body main .sec4 .sec41 {
  background-color: white;
}

body main .sec4 .sec41:hover {
  background: url("/Razor Pay/icons/sec41_bg.svg") no-repeat right bottom;
  background-color: rgba(221, 236, 229, 0.623);
}

body main .sec4 .sec42 {
  background-color: white;
}

body main .sec4 .sec42:hover {
  background: url("/Razor Pay/icons/sec42_bg.png") no-repeat right bottom;
  background-color: rgba(221, 236, 229, 0.623);
}

body main .sec4 .sec43 {
  background-color: white;
}

body main .sec4 .sec43:hover {
  background: url("/Razor Pay/icons/sec43_bg.svg") no-repeat right bottom;
  background-color: rgba(221, 236, 229, 0.623);
}

body main .sec4 .sec44 {
  background-color: white;
}

body main .sec4 .sec44:hover {
  background: url("/Razor Pay/icons/sec44_bg.svg") no-repeat right bottom;
  background-color: rgba(221, 236, 229, 0.623);
}

body main .sec4 .sec45 {
  background-color: white;
}

body main .sec4 .sec45:hover {
  background: url("/Razor Pay/icons/sec45_bg.svg") no-repeat right bottom;
  background-color: rgba(221, 236, 229, 0.623);
}

body main .sec4 .sec46 {
  background-color: white;
}

body main .sec4 .sec46:hover {
  background: url("/Razor Pay/icons/sec46_bg.svg") no-repeat right bottom;
  background-color: rgba(221, 236, 229, 0.623);
}
/*# sourceMappingURL=index.css.map */