body{
    margin: 17px 167px;
    padding: 0;
    font-family: Muli,BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #02042b;
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .flexx{
            display: flex;

            a{
                color: rgba(255,255,255,0.7);
                padding: 17px;
            }
        }
        .logo_white{
            width: 135px;
        }
    }
    main{
        .figure1{
            width: 100%;
            height: 605px;
            background: url("/Razor Pay/icons/figure1.png") no-repeat right;
            background-size: 810px;

            form{
                width: fit-content;
                display: flex;

                input{
                    padding: 15px 0 15px 14px;
                    width: 221px;
                    border-radius: 8px 0 0 8px;
                    border: 1px solid #2783f3;
                    background-color: #02042b;
                }
                button{
                    padding: 15px 45px 15px 10px;
                    border-radius: 0 8px 8px 0;
                    border: 1px solid #2783f3;
                    background-color: #2783f3;
                    color: white;
                }
            }
        }
        .figure1txt{
            h1{
                color: #fff;
                font-size: 40px;
                line-height: 53px;
                font-weight: 800;
                max-width: 450px;
                &::after{
                    width: 24px;
                    height: 4px;
                    content: ' ';
                    background-color: #58c19c;
                    display: block;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }
            p{
                color: rgba(255,255,255,0.7);
                max-width: 430px;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}